<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Report</title>
</head>
<body>
    <h1>Current Weather Report for <%= city_name %></h1>
    <img src=<%=`/assets/${icon_code}.png` %>>
    <h2>Temperature : <%= temperature %></h2>
    <h2>Wind Speed : <%= wind_speed %></h2>
    <h2>Precipitation : <%= precipitation %></h2>
    <h2>Description : <%= description %></h2>
    <button><a href="/">Back</a></button>
</body>
</html>